.password-hints {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  font-size: 12px;
  color: #e74c3c;
}

#country {
  padding: 12px;
  border-radius: 6px;
}

.password-hints span {
  transition: color 0.3s;
}

.password-hints .valid {
  color: #4caf50;
}

.input-wrapper input[type="date"] {
  padding-right: 10px;
}

.input-wrapper input[type="date"].input-error {
  padding-right: 40px;
}

.input-wrapper select {
  width: 100%;
  padding-right: 40px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  background-color: white;
  appearance: auto;
}

.input-wrapper select.input-error {
  margin-right: 40px;
}
.input-wrapper input {
  padding-right: 60px;
}

.input-wrapper.has-error .password-toggle {
  right: 36px;
}

@media screen and (max-width: 450px) {


}
