html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: monospace;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
