.footer {
  background-color: #333;
  color: white;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-item,
.year {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}

.social-item-link {
  color: white;
  transition: all 0.5s;
  text-decoration: none;
}

.social-item-link svg {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
}

.rs-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 40px;
}

.rsschool-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url("../../../assets/screenshots/rsschool.png") center / 80% 80%
    no-repeat;
  transition: all 0.5s;
}

/* HOVER */
@media (hover: hover) and (pointer: fine) {
  .social-item:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .social-item:hover svg {
    fill: rgb(152, 194, 196);
  }
}

@media screen and (max-width: 300px) {
  .rs-icon-wrap {
    display: none;
  }

  .social-item-link svg {
    margin: 0 2px 0 5px;
  }

  .footer-content {
    padding: 0;
  }

  .social-items {
    padding: 0 5px;
  }
}
