.section__product-catalog {
  margin: 20px;
  background-color: #f4f4f4;
  border-radius: 20px;
}

.no-found {
  font-family: monospace;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
  text-align: center;
}

.cards-container {
  display: grid;
  gap: 20px;
  grid-template: auto / repeat(auto-fit, minmax(280px, 300px));
  justify-content: center;
  padding: 20px;
}

.cards-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cards-item:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.cards-item-img img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.cards-item-card {
  text-align: center;
  padding: 10px;
}

.cards-item-name {
  text-align: center;
  font-size: 1rem;
}

.cards-item-desc {
  padding: 5px 15px;
}

.product-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-with-discount {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.price-discounted {
  color: #e53935;
  font-weight: bold;
  font-size: 1.5rem;
}

.price-original {
  color: #888;
  text-decoration: line-through;
  font-size: 1rem;
}

.price-regular {
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
}

.button__addToCart {
  color: rgb(255, 255, 255);
  background-color: rgba(76, 176, 76, 0.8);
  border: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.button__addToCart:hover {
  cursor: pointer;
  background-color: #45a049;
}

@media (max-width: 768px) {
  .cards-container {
    padding: 0;
    margin: 0;
  }
  .category-products-container {
    padding: 0;
    margin: 0;
  }
}
